<h1>被後見人一覧</h1>

<%= link_to "新規登録", new_client_path, class: "btn"%>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>氏名</th>
      <th>生年月日</th>
      <th>住所</th>
      <th>事件番号</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td>
          <%= client.name %>  
          <%= link_to "詳細情報", client_path(client), class: "btn btn-glay" %>
        </td>
        <td><%= client.birthdate %></td>
        <td><%= client.address %></td>
        <td><%= client.case_number %></td>
        <td>
          <%= link_to "編集", edit_client_path(client), class: "btn"%>
          <%= button_to "削除", client_path(client), method: :delete, form: { data: { turbo_confirm: "本当に削除しますか？" } }, class: "btn" %>        
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
